    <div th:fragment = "action">
       <meta charset="UTF-8"/> 
       <form action="" method = "GET">
        <div class="container-fluid">
          <div class="row">

            <div class="col-lg-12 col-md-12">
              <div class="card">
                <div class="card-header card-header-info">
                  <h4 class="card-title">Les Actions</h4>
                  <p class="card-category">Les événement de l'organisme</p>
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-infouu">
                      <th>Projet</th>
                      <th>Créateur</th>
                      <th>Date Creation</th>
                      <th>Date Réalisation</th>
                      <th>Budget</th>
                      <th>Média</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>nom_Projet</td>
                        <td>Dakota Rice</td>
                        <td>$36,738</td>
                        <td>Niger</td>
                        <td>Dakota Rice</td>
                        <td>$36,738</td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>
      </div>
      	</form>
      </div>