<div th:fragment = "communaute" xmlns:th = "http://www.thymeleaf.org">
        <meta charset="UTF-8"/> 
       <form action="" method = "GET">
        <div class="container-fluid">
          <div class="row">

            <div class="col-lg-12 col-md-12">
            
                        <div  th:if="${size != -1}" >
              <div class="card">
                <div class="card-header card-header-success">
                  <h4 class="card-title">Communauté</h4>
                  <p class="card-category">Communauté de l'organisme </p>
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-success">
                      <th></th>
                      <th>Nom</th>
                      <th>Prenom</th>
                      <th>Email</th>
                       <th>NumTélé</th>
                       <th>Fonction</th>
                    </thead>
                    <tbody>
                      <tr th:each="contact: ${contactsCommunaute}">
                         <td >
                            <i class="material-icons" style="color:#FFD700"><div th:if="${contact.getTypecontact().getNom() == 'admin'}" th:text="grade"></div> </i>
                         </td>
                        <td >
                             <div th:if="${contact.getNom() != null}" th:text="${contact.getNom()}"></div> 
                       		 <div th:unless="${contact.getNom() != null}" th:text="----------------"></div> 
                        </td>
                        <td >
                             <div th:if="${contact.getPrenom() != null}" th:text="${contact.getPrenom()}"></div> 
                       		 <div th:unless="${contact.getPrenom() != null}" th:text="----------------"></div> 
                        </td>
                        <td >
                            <div th:if="${contact.getEmail() != null}" th:text="${contact.getEmail()}"></div> 
                       		 <div th:unless="${contact.getEmail() != null}" th:text="----------------"></div> 
                       </td> 
                       <td>
                             <div th:if="${contact.getNumTele() != null}" th:text="${contact.getNumTele()}"></div> 
                        	 <div th:unless="${contact.getNumTele() != null}" th:text="----------------"></div> 
                        </td> 
                        <td>
                        <div th:if="${contact.getFonction() != null}" th:text="${contact.getFonction().getNom()}"></div> 
                        <div th:unless="${contact.getFonction() != null}" th:text="----------------"></div> 
                        </td> 
                     	
                      </tr>
                      
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
           <div th:unless="${size != -1}" class="text-center" >
           aucun action
           </div> 
          
          </div>
          </div>
      </div>
      	</form>
      

      	 <div  th:if="${size != -1}" >
      	 
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center" >
    <li th:class=" ${pageCourant} == '0'?'page-item disabled':'page-item'">
    <a class="page-link" th:href="@{communaute(page=${pageCourant}-1)}" >Previous</a>
    </li>
    <li th:class=" ${pageCourant} == ${status.index}?'page-item active':'page-item'" th:each="pa,status:${pages}"><a class="page-link" th:href="@{communaute(page=${status.index},size=${size})}" th:text="${status.index}"></a></li>
    <li th:class=" ${pageCourant} == ${size}?'page-item disabled':'page-item'" >
     <a class="page-link"  th:href="@{communaute(page=${pageCourant}+1)}">Next</a> 
    </li>
  </ul>
</nav>
      	 </div> 
      	
       
</div>