<div th:fragment = "form1"> 
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>   
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="icon" href="images/favicon.ico" type="image/ico" />
 
    
    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
   
        <!-- Custom Theme Style -->
    <link href="build/css/custom.min.css" rel="stylesheet">

 </head>
 
<body class="nav-md" >

 
 
   
      <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a  class="site_title" ><i class="fa fa-gg " > </i> <span  style="margin-left: 20px;"  th:text = "${organismes.getNom_association()}">  </span> </a> 
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="images/v.png" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <h5 style="color: white;"  th:text="${cntct.getNom()} + ' ' + ${cntct.getPrenom()}"></h5>
              <h6 > Administrateur</h6> 
<!--               <h6 th:text="${cntct.getPrenom()}"></h6>  -->
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
             <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
            <!--   <h3>General</h3>  -->  
                <ul class="nav side-menu">
               
               
                  <li>
                          <a href="index"><i class="fa fa-bar-chart-o"></i> Acceuil <span ></span></a>
                  </li>
                  

                       <li><a><i class="fa fa-sitemap"></i> Communauté <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="form.html">General Form</a></li>
                      <li><a href="form_advanced.html">Advanced Components</a></li>
                      <li><a href="form_validation.html">Form Validation</a></li>
                      <li><a href="form_wizards.html">Form Wizard</a></li>
                      <li><a href="form_upload.html">Form Upload</a></li>
                      <li><a href="form_buttons.html">Form Buttons</a></li>
                    </ul>
                  </li>
                  
               
                  
                  <li><a><i class="fa fa-table"></i> Evénements <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="tables.html">Tables</a></li>
                      <li><a href="tables_dynamic.html">Table Dynamic</a></li>
                    </ul>
                  </li>
                  
       
                  
                     <li><a  th:href="@{/parametre?admin=0}" ><i class="fa fa-home"></i> Mon association </span></a>
                    
                  </li>
                </ul>
              </div>
              <div class="menu_section">
              </div></div>
              
           
            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a  th:href="@{/parametre?admin=0}" data-toggle="tooltip" data-placement="top" title="Paramètres">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              
               <a  data-toggle="tooltip" data-placement="top" title="Nouveau membre" >
                <span class="fa fa-user-plus" aria-hidden="true"></span>
                <!-- <input type="hidden" id="admin" name ="admin" value="1" ></input>   -->
              </a>
              
             <a th:href="@{/parametre?admin=2}" data-toggle="tooltip" data-placement="top" title="Changer d'association">
                <span class="fa fa-random" aria-hidden="true"></span>
              </a> 
              
             
              
              <a data-toggle="tooltip" data-placement="top" title="Déconnexion" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
              

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="images/v.png" alt="">
                    <span th:text="${cntct.getNom()} + ' ' + ${cntct.getPrenom()}"> </span>
                    <span  class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="profile.html"> Mon Profile</a></li>
                    <li>
                      <a th:href="@{/parametre?admin=0}">
                        <!-- <span class="badge bg-red pull-right">50%</span> -->
                        <span>Paramétres</span>
                      </a>
                    </li>
                    
                  <!--    <li><a href="javascript:;">Help</a></li> -->
                    <li><a th:href="@{/logout}"><i class="fa fa-sign-out pull-right"></i> Deconnexion </a></li>
                  </ul>
                </li>
                  </li>
                  </ul>
                </li>
              </ul>
                
              
            </nav>
          </div>
        </div> 
  
      

    <!-- Custom Theme Scripts -->
    <script src="build/js/custom.min.js"></script>
  </body>
</html>
</div>